In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

import pandas as pd
import numpy as np

In [2]:
file_path = "missing.csv"
mis_df = pd.read_csv(file_path)
mis_df = mis_df.copy()
mis_df.head()

,Unnamed: 0,Season,Age_x,Tm_x,Lg_x,Pos_x,G_x,GS,MP_x,FG,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,0,2011-12,21.0,GSW,NBA,SG,66,29,1608,318,...,NaN,1.4,0.3,1.7,0.050,NaN,0.9,-2.8,-1.9,0.1
1,1,2012-13,22.0,GSW,NBA,SG,82,82,2936,508,...,NaN,1.7,2.6,4.3,0.070,NaN,0.4,-0.6,-0.1,1.4
2,2,2013-14,23.0,GSW,NBA,SG,81,81,2868,559,...,NaN,3.5,3.2,6.7,0.112,NaN,1.3,-0.6,0.7,1.9
3,3,2014-15,24.0,GSW,NBA,SG,77,77,2455,602,...,NaN,5.7,3.1,8.8,0.172,NaN,3.6,-1.0,2.7,2.9
4,4,2015-16,25.0,GSW,NBA,SG,80,80,2666,651,...,NaN,5.5,2.6,8.0,0.144,NaN,2.9,-2.2,0.7,1.8

In [3]:
to_remove = [c for c in mis_df.columns if "Unnamed" in c]
# to_remove

mis_df.drop(to_remove, axis=1, inplace= True)

to_remove2 = [d for d in mis_df.columns if "_x" in d]

mis_df.drop(to_remove2, axis=1, inplace= True)

mis_df.head()

,Season,GS,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2011-12,29,318,718,0.443,111,268,0.414,207,450,...,12.0,24.7,1.4,0.3,1.7,0.050,0.9,-2.8,-1.9,0.1
1,2012-13,82,508,1205,0.422,211,526,0.401,297,679,...,11.0,21.8,1.7,2.6,4.3,0.070,0.4,-0.6,-0.1,1.4
2,2013-14,81,559,1259,0.444,223,535,0.417,336,724,...,9.2,22.6,3.5,3.2,6.7,0.112,1.3,-0.6,0.7,1.9
3,2014-15,77,602,1299,0.463,239,545,0.439,363,754,...,9.5,27.6,5.7,3.1,8.8,0.172,3.6,-1.0,2.7,2.9
4,2015-16,80,651,1386,0.470,276,650,0.425,375,736,...,8.5,26.3,5.5,2.6,8.0,0.144,2.9,-2.2,0.7,1.8

In [4]:
file_path = "HOF_stats.csv"
hof_df = pd.read_csv(file_path)
hof_df = hof_df.copy()
hof_df.head()

# if the season doesn't contain a -, delete the row

/Users/dotcal/anaconda3/envs/PythonDataanalytics/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (67,71,73,81,87,88,90,93,94,111,117,120,141,145,146,147,148,150,152,155,184,190,218,224,227,292,298,301,542,591,597,600,621,625,627,662,668,670,687,691,693,726,732,734,753,757,759,816,820,822,824,826,831,833,838,841,844,863,867,869,873,896,898,904,908,912,921,930,933,937,946) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,...,Unnamed: 98,Unnamed: 98_x,Unnamed: 98_y,Unnamed: 99,Unnamed: 99_x,Unnamed: 99_y,VORP,WS,WS/48,eFG%
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2,0.200,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,0.173,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1,0.155,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.2,0.157,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1,0.187,NaN

In [5]:
# for col in hof_df.columns:
#     print(col)
to_remove = [c for c in hof_df.columns if "Unnamed" in c]
# to_remove

hof_df.drop(to_remove, axis=1, inplace= True)

to_remove2 = [d for d in hof_df.columns if "_x" in d]

hof_df.drop(to_remove2, axis=1, inplace= True)

hof_df.head()

# for col in df.columns:
#     print(col)

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age_y,...,TOV%,TRB,TRB%,TS%,Tm_y,USG%,VORP,WS,WS/48,eFG%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,24.0,...,NaN,419.0,NaN,0.465,MNL,NaN,NaN,5.2,0.200,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN,25.0,...,NaN,802.0,NaN,0.479,MNL,NaN,NaN,8.5,0.173,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,NaN,26.0,...,NaN,992.0,NaN,0.484,MNL,NaN,NaN,8.1,0.155,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,27.0,...,NaN,932.0,NaN,0.471,MNL,NaN,NaN,8.2,0.157,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,NaN,28.0,...,NaN,862.0,NaN,0.483,CIN,NaN,NaN,10.1,0.187,NaN

In [6]:
file_path = "Active_roster_stats.csv"
ars_df = pd.read_csv(file_path)
ars_df = ars_df.copy()
ars_df.head()

/Users/dotcal/anaconda3/envs/PythonDataanalytics/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (548,556,559,583,587,589,622,628,630,649,653,655) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,...,Unnamed: 97_x,Unnamed: 97_y,Unnamed: 98_x,Unnamed: 98_y,Unnamed: 99_x,Unnamed: 99_y,VORP,WS,WS/48,eFG%
0,0,146,0.507,288,46.0,0.341,135.0,0.319,64,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.7,1.5,0.053,0.508
1,1,252,0.507,497,121.0,0.395,306.0,0.381,114,8.5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.5,0.100,0.540
2,2,273,0.529,516,95.0,0.344,276.0,0.348,100,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,0.076,0.525
3,3,114,0.567,201,40.0,0.374,107.0,0.347,47,10.7,...,NaN,NaN,NaN,NaN,NaN,NaN,0.6,2.3,0.153,0.565
4,4,785,0.523,1502,302.0,0.367,824.0,0.354,325,8.2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.9,11.3,0.088,0.532

In [7]:
# for col in ars_df.columns:
#     print(col)
to_remove = [c for c in ars_df.columns if "Unnamed" in c]
# to_remove

ars_df.drop(to_remove, axis=1, inplace= True)

to_remove2 = [d for d in ars_df.columns if "_x" in d]

ars_df.drop(to_remove2, axis=1, inplace= True)

# players = ars_df["Player"]
ars_df.head()
# for col in df.columns:
#     print(col)

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age_y,...,TOV%,TRB,TRB%,TS%,Tm_y,USG%,VORP,WS,WS/48,eFG%
0,146,0.507,288,46.0,0.341,135.0,0.319,64,7.2,20.0,...,12.5,220,9.1,0.539,BOS,18.1,-0.7,1.5,0.053,0.508
1,252,0.507,497,121.0,0.395,306.0,0.381,114,8.5,21.0,...,12.0,346,8.8,0.562,BOS,21.4,1.0,4.5,0.100,0.540
2,273,0.529,516,95.0,0.344,276.0,0.348,100,7.7,22.0,...,10.1,313,8.7,0.547,BOS,22.1,0.0,3.0,0.076,0.525
3,114,0.567,201,40.0,0.374,107.0,0.347,47,10.7,23.0,...,10.0,145,10.8,0.592,BOS,23.1,0.6,2.3,0.153,0.565
4,785,0.523,1502,302.0,0.367,824.0,0.354,325,8.2,NaN,...,11.2,1024,9.1,0.557,NaN,21.1,0.9,11.3,0.088,0.532

In [8]:
file_path = "MVP_stats.csv"
mvp_df = pd.read_csv(file_path)
mvp_df = mvp_df.copy()
mvp_df.head()

,Unnamed: 0,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,...,Unnamed: 97_x,Unnamed: 97_y,Unnamed: 98_x,Unnamed: 98_y,Unnamed: 99_x,Unnamed: 99_y,VORP,WS,WS/48,eFG%
0,0,132,0.440,300,41,0.347,118,0.282,150,12.1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.1,1.2,0.031,0.463
1,1,376,0.511,736,7,0.159,44,0.056,207,13.1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.6,6.2,0.117,0.496
2,2,485,0.537,904,28,0.257,109,0.108,345,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.2,7.1,0.121,0.520
3,3,607,0.563,1079,49,0.272,180,0.143,434,26.6,...,NaN,NaN,NaN,NaN,NaN,NaN,6.9,12.4,0.210,0.541
4,4,699,0.554,1262,43,0.307,140,0.100,361,23.7,...,NaN,NaN,NaN,NaN,NaN,NaN,5.4,11.9,0.207,0.545

In [9]:
to_remove = [c for c in mvp_df.columns if "Unnamed" in c]
# to_remove

mvp_df.drop(to_remove, axis=1, inplace= True)

to_remove2 = [d for d in mvp_df.columns if "_x" in d]

mvp_df.drop(to_remove2, axis=1, inplace= True)

# players = mvp_df["Player"]
mvp_df.head()

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age_y,...,TOV%,TRB,TRB%,TS%,Tm_y,USG%,VORP,WS,WS/48,eFG%
0,132,0.440,300,41,0.347,118,0.282,150,12.1,19.0,...,19.4,339,10.2,0.518,MIL,15.0,0.1,1.2,0.031,0.463
1,376,0.511,736,7,0.159,44,0.056,207,13.1,20.0,...,15.6,542,12.2,0.552,MIL,19.6,1.6,6.2,0.117,0.496
2,485,0.537,904,28,0.257,109,0.108,345,20.0,21.0,...,14.8,612,12.4,0.566,MIL,22.3,3.2,7.1,0.121,0.520
3,607,0.563,1079,49,0.272,180,0.143,434,26.6,22.0,...,13.3,700,14.3,0.599,MIL,28.3,6.9,12.4,0.210,0.541
4,699,0.554,1262,43,0.307,140,0.100,361,23.7,23.0,...,11.7,753,16.0,0.598,MIL,31.2,5.4,11.9,0.207,0.545

In [10]:
master_df = hof_df.append(ars_df).append(mvp_df).append(mis_df)

master_df.head()

/Users/dotcal/anaconda3/envs/PythonDataanalytics/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age_y,...,TOV%,TRB,TRB%,TS%,Tm_y,USG%,VORP,WS,WS/48,eFG%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,24.0,...,NaN,419.0,NaN,0.465,MNL,NaN,NaN,5.2,0.200,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN,25.0,...,NaN,802.0,NaN,0.479,MNL,NaN,NaN,8.5,0.173,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,NaN,26.0,...,NaN,992.0,NaN,0.484,MNL,NaN,NaN,8.1,0.155,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,27.0,...,NaN,932.0,NaN,0.471,MNL,NaN,NaN,8.2,0.157,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,NaN,28.0,...,NaN,862.0,NaN,0.483,CIN,NaN,NaN,10.1,0.187,NaN

In [11]:
master_df = master_df.drop_duplicates(subset=['Player', 'Season'], keep='first')
master_df = master_df.dropna(subset = ["Age_y"])
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3592 entries, 0 to 7
Data columns (total 51 columns):
2P        3386 non-null float64
2P%       3367 non-null float64
2PA       3386 non-null float64
3P        3181 non-null float64
3P%       2961 non-null float64
3PA       3181 non-null float64
3PAr      3170 non-null float64
AST       3592 non-null int64
AST%      3462 non-null float64
Age_y     3592 non-null float64
BLK       3308 non-null float64
BLK%      3307 non-null float64
BPM       3303 non-null float64
DBPM      3303 non-null float64
DRB       3336 non-null float64
DRB%      3321 non-null float64
DWS       3592 non-null float64
FG        3592 non-null int64
FG%       3581 non-null float64
FGA       3592 non-null int64
FT        3592 non-null int64
FT%       3530 non-null float64
FTA       3592 non-null int64
FTr       3581 non-null float64
GS        3060 non-null float64
G_y       3592 non-null int64
Lg_y      3592 non-null object
MP_y      3575 non-null float64
OBPM      3303 non-null float64
ORB       3338 non-null float64
ORB%      3321 non-null float64
OWS       3592 non-null float64
PER       3574 non-null float64
PF        3592 non-null int64
PTS       3592 non-null int64
Player    3592 non-null object
Pos_y     3582 non-null object
STL       3305 non-null float64
STL%      3304 non-null float64
Season    3592 non-null object
TOV       3245 non-null float64
TOV%      3238 non-null float64
TRB       3580 non-null float64
TRB%      3394 non-null float64
TS%       3582 non-null float64
Tm_y      3592 non-null object
USG%      3244 non-null float64
VORP      3303 non-null float64
WS        3592 non-null float64
WS/48     3574 non-null float64
eFG%      3375 non-null float64
dtypes: float64(38), int64(8), object(5)
memory usage: 1.4+ MB

In [12]:
to_rename = {"Age_y":"Age", "G_y":"G",
             "Lg_y":"Lg", "MP_y": "MP",
             "Pos_y": "Pos", "Tm_y":"Tm"}
master_df = master_df.rename(columns=to_rename)
master_df.head()

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age,...,TOV%,TRB,TRB%,TS%,Tm,USG%,VORP,WS,WS/48,eFG%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,24.0,...,NaN,419.0,NaN,0.465,MNL,NaN,NaN,5.2,0.200,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN,25.0,...,NaN,802.0,NaN,0.479,MNL,NaN,NaN,8.5,0.173,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,NaN,26.0,...,NaN,992.0,NaN,0.484,MNL,NaN,NaN,8.1,0.155,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,27.0,...,NaN,932.0,NaN,0.471,MNL,NaN,NaN,8.2,0.157,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,NaN,28.0,...,NaN,862.0,NaN,0.483,CIN,NaN,NaN,10.1,0.187,NaN

In [13]:
master_df["GT"] = master_df.sum(numeric_only=True, axis=1)

career_best_df = master_df.sort_values('GT').drop_duplicates(['Player'], keep='last')

In [14]:
index = career_best_df.set_index("Player")
index

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age,...,TRB,TRB%,TS%,Tm,USG%,VORP,WS,WS/48,eFG%,GT
Player,,,,,,,,,,,,,,,,,,,,,
Keldon Johnson,0.0,0.000,1.0,0.0,NaN,0.0,0.000,0,0.0,20.0,...,0.0,0.0,0.000,SAS,21.3,0.0,0.0,-0.541,0.000,-30.441
Jared Harper,0.0,NaN,0.0,0.0,0.000,1.0,1.000,0,0.0,22.0,...,0.0,0.0,0.000,PHO,21.1,0.0,0.0,-0.527,0.000,-17.227
Romeo Langford,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0,NaN,20.0,...,0.0,NaN,NaN,BOS,NaN,0.0,0.0,NaN,NaN,10.900
Vlatko Čančar,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0,0.0,22.0,...,0.0,0.0,NaN,DEN,0.0,0.0,0.0,0.031,NaN,14.431
John Konchar,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0,0.0,23.0,...,0.0,0.0,NaN,MEM,0.0,0.0,0.0,-0.018,NaN,17.882
Zach Norvell,0.0,0.000,1.0,0.0,NaN,0.0,0.000,0,0.0,22.0,...,1.0,11.1,0.000,LAL,8.5,0.0,0.0,-0.148,0.000,34.452
Jordan Bone,2.0,0.500,4.0,0.0,0.000,1.0,0.200,0,0.0,22.0,...,0.0,0.0,0.400,DET,50.5,0.0,-0.1,-0.642,0.400,47.858
Talen Horton-Tucker,0.0,NaN,0.0,0.0,0.000,1.0,1.000,1,55.9,19.0,...,0.0,0.0,0.000,LAL,21.3,0.0,0.0,-0.263,0.000,48.437
Brian Bowen,1.0,0.333,3.0,0.0,0.000,1.0,0.250,0,0.0,21.0,...,1.0,5.5,0.250,IND,17.3,0.0,0.0,-0.127,0.250,69.406
Garrison Mathews,0.0,NaN,0.0,0.0,0.000,2.0,1.000,2,15.5,23.0,...,1.0,3.9,0.000,WAS,8.8,0.0,-0.1,-0.207,0.000,88.493
Dean Wade,0.0,0.000,1.0,1.0,1.000,1.0,0.500,0,0.0,23.0,...,2.0,6.1,0.750,CLE,4.7,0.0,0.0,0.082,0.750,89.482
Kostas Antetokounmpo,0.0,0.000,3.0,0.0,NaN,0.0,0.000,0,0.0,21.0,...,1.0,4.9,0.210,DAL,22.5,0.0,-0.1,-0.247,0.000,90.496
DaQuan Jeffries,1.0,1.000,1.0,0.0,NaN,0.0,0.000,1,12.7,22.0,...,1.0,5.2,1.000,SAC,4.0,0.0,0.0,0.171,1.000,93.171
Sekou Doumbouya,3.0,0.600,5.0,0.0,0.000,1.0,0.167,0,0.0,19.0,...,2.0,10.3,0.466,DET,25.4,0.0,0.0,-0.039,0.500,96.761
Zylan Cheatham,1.0,0.333,3.0,0.0,0.000,1.0,0.250,1,6.3,24.0,...,3.0,8.0,0.250,NOP,10.3,-0.1,-0.1,-0.145,0.250,103.588
Naz Reid,0.0,NaN,0.0,1.0,0.500,2.0,1.000,0,0.0,20.0,...,1.0,13.1,0.750,MIN,20.6,0.0,0.0,0.201,0.750,111.501
Oshae Brissett,0.0,0.000,2.0,1.0,1.000,1.0,0.333,1,7.8,21.0,...,1.0,3.0,0.500,TOR,10.0,0.0,0.0,0.016,0.500,111.682
Jaylen Nowell,1.0,1.000,1.0,0.0,0.000,3.0,0.750,3,26.1,20.0,...,1.0,3.5,0.338,MIN,14.9,0.0,0.0,-0.089,0.250,111.849
Stanton Kidd,0.0,0.000,2.0,0.0,0.000,1.0,0.333,1,8.4,27.0,...,3.0,10.8,0.000,UTA,14.5,-0.1,-0.1,-0.318,0.000,112.915
Nigel Williams-Goss,0.0,0.000,4.0,0.0,0.000,1.0,0.200,2,11.5,25.0,...,2.0,4.9,0.170,UTA,13.6,0.0,-0.1,-0.129,0.000,118.841
Devon Hall,1.0,0.333,3.0,0.0,0.000,2.0,0.400,3,19.9,24.0,...,1.0,2.7,0.370,OKC,17.2,0.0,0.0,-0.060,0.200,121.793
Jalen McDaniels,1.0,0.500,2.0,0.0,NaN,0.0,0.000,0,0.0,22.0,...,1.0,18.1,0.500,CHO,28.9,0.0,0.0,0.128,0.500,123.728
Max Strus,2.0,1.000,2.0,0.0,0.000,1.0,0.333,0,0.0,23.0,...,1.0,8.8,0.727,CHI,24.1,0.0,0.0,0.332,0.667,133.159
Miye Oni,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0,0.0,22.0,...,1.0,6.7,NaN,UTA,5.4,0.0,0.0,-0.134,NaN,133.566
KZ Okpala,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0,0.0,20.0,...,1.0,18.9,NaN,MIA,14.4,0.0,0.0,-0.390,NaN,136.610
Charlie Brown,0.0,0.000,2.0,1.0,1.000,1.0,0.333,0,0.0,22.0,...,3.0,10.4,0.735,ATL,12.4,0.0,0.1,0.250,0.500,143.684
Justin Robinson,1.0,0.250,4.0,1.0,1.000,1.0,0.200,2,18.4,22.0,...,3.0,11.7,0.500,WAS,20.6,0.0,0.0,-0.100,0.500,165.250
Tacko Fall,2.0,0.500,4.0,0.0,NaN,0.0,0.000,0,0.0,24.0,...,3.0,39.6,0.500,BOS,53.7,0.0,0.0,-0.227,0.500,175.273
Shamorie Ponds,2.0,0.667,3.0,0.0,0.000,1.0,0.250,2,44.2,21.0,...,1.0,6.4,0.500,TOR,21.3,0.0,0.0,0.214,0.500,180.031
Tremont Waters,1.0,0.500,2.0,1.0,0.200,5.0,0.714,3,20.3,22.0,...,2.0,5.3,0.444,BOS,21.2,0.0,0.0,0.020,0.357,187.907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Charles Barkley,709.0,0.630,1126.0,44.0,0.280,157.0,0.122,254,14.1,24.0,...,951.0,17.4,0.665,PHI,26.7,8.7,16.7,0.253,0.604,14500.033
Alex English,957.0,0.519,1845.0,2.0,0.167,12.0,0.006,397,19.5,29.0,...,601.0,10.2,0.561,DEN,28.9,5.0,10.3,0.166,0.517,14530.645
Adrian Dantley,907.0,0.560,1620.0,2.0,0.286,7.0,0.004,322,16.3,24.0,...,509.0,8.5,0.622,UTA,28.4,5.7,13.6,0.191,0.559,14609.969
Dominique Wilkins,875.0,0.479,1827.0,13.0,0.186,70.0,0.037,206,11.7,26.0,...,618.0,11.2,0.536,ATL,32.9,4.3,10.8,0.170,0.472,14650.538
Allen Iverson,720.0,0.440,1637.0,84.0,0.277,303.0,0.156,454,25.1,27.0,...,344.0,5.8,0.500,PHI,32.9,4.2,9.2,0.127,0.436,14690.403
Kevin Garnett,793.0,0.506,1568.0,11.0,0.256,43.0,0.027,409,24.4,27.0,...,1139.0,20.1,0.547,MIN,29.6,9.8,18.3,0.272,0.502,14700.089
Tim Duncan,763.0,0.511,1494.0,1.0,0.100,10.0,0.007,307,18.3,25.0,...,1042.0,18.0,0.576,SAS,29.0,8.1,17.8,0.257,0.508,14747.532
Kevin Durant,657.0,0.549,1197.0,192.0,0.391,491.0,0.291,445,26.7,25.0,...,598.0,10.8,0.635,OKC,33.0,8.5,19.2,0.295,0.560,14951.574
Larry Bird,862.0,0.529,1629.0,56.0,0.427,131.0,0.074,531,25.7,28.0,...,842.0,14.7,0.585,BOS,28.5,8.4,15.7,0.238,0.538,14954.655
Hakeem Olajuwon,848.0,0.532,1595.0,0.0,0.000,8.0,0.005,291,15.8,30.0,...,1068.0,18.7,0.577,HOU,28.8,8.5,15.8,0.234,0.529,15186.841
Patrick Ewing,921.0,0.552,1669.0,1.0,0.250,4.0,0.002,182,10.0,27.0,...,893.0,15.7,0.599,NYK,29.4,5.2,13.5,0.205,0.551,15195.572
LeBron James,748.0,0.518,1444.0,127.0,0.335,379.0,0.208,521,32.8,21.0,...,556.0,9.8,0.568,CLE,33.6,9.5,16.3,0.232,0.515,15294.941
Elvin Hayes,948.0,0.428,2215.0,NaN,NaN,NaN,NaN,186,8.0,25.0,...,1362.0,16.4,0.468,SDR,NaN,NaN,7.8,0.102,0.428,15381.231
Artis Gilmore,806.0,0.598,1348.0,0.0,NaN,0.0,0.000,230,8.7,22.0,...,1491.0,18.8,0.620,KEN,20.5,NaN,19.8,0.259,0.598,15506.068
Karl Malone,898.0,0.567,1584.0,16.0,0.372,43.0,0.026,226,13.2,26.0,...,911.0,17.1,0.626,UTA,32.6,6.7,15.9,0.245,0.567,15520.288
Charlie Scott,1004.0,0.457,2195.0,29.0,0.264,110.0,0.048,373,18.1,23.0,...,397.0,5.4,0.507,TOT,33.1,NaN,7.4,0.110,0.454,15552.384
Shaquille O'Neal,956.0,0.575,1664.0,0.0,0.000,1.0,0.001,299,19.3,27.0,...,1078.0,18.3,0.578,LAL,31.2,9.3,18.6,0.283,0.574,15619.104
David Robinson,830.0,0.510,1629.0,10.0,0.345,29.0,0.017,381,21.6,28.0,...,855.0,14.8,0.577,SAS,32.0,10.6,20.0,0.296,0.510,15625.369
Nate Archibald,1028.0,0.488,2106.0,NaN,NaN,NaN,NaN,910,38.9,24.0,...,223.0,3.2,0.555,KCO,NaN,NaN,14.2,0.186,0.488,15657.124
James Harden,465.0,0.528,881.0,378.0,0.368,1028.0,0.539,586,39.5,29.0,...,518.0,10.0,0.616,HOU,40.5,9.9,15.2,0.254,0.541,15683.016
Kobe Bryant,798.0,0.482,1655.0,180.0,0.347,518.0,0.238,360,24.1,27.0,...,425.0,7.6,0.559,LAL,38.7,6.5,15.3,0.224,0.491,16161.518
Dan Issel,969.0,0.487,1990.0,3.0,0.273,11.0,0.005,195,8.2,23.0,...,931.0,12.0,0.544,KEN,27.8,NaN,13.5,0.181,0.487,16182.224
Julius Erving,907.0,0.501,1810.0,3.0,0.188,16.0,0.009,335,13.6,21.0,...,1319.0,16.4,0.545,VIR,25.0,NaN,13.3,0.181,0.499,16208.809
Kareem Abdul-Jabbar,914.0,0.529,1728.0,NaN,NaN,NaN,NaN,413,19.4,28.0,...,1383.0,19.6,0.567,LAL,NaN,10.5,17.0,0.242,0.529,16238.567
Russell Westbrook,624.0,0.459,1358.0,200.0,0.343,583.0,0.300,840,57.3,28.0,...,864.0,17.1,0.554,OKC,41.7,12.4,13.1,0.224,0.476,16262.859
George McGinnis,811.0,0.461,1759.0,62.0,0.354,175.0,0.090,495,22.6,24.0,...,1126.0,16.9,0.519,INA,31.7,7.0,11.6,0.174,0.467,16492.629
Moses Malone,945.0,0.520,1816.0,0.0,0.000,6.0,0.003,142,6.9,26.0,...,1188.0,19.3,0.576,HOU,29.9,5.4,15.4,0.218,0.519,16503.071
Michael Jordan,1086.0,0.491,2213.0,12.0,0.182,66.0,0.029,377,22.2,23.0,...,430.0,7.4,0.562,CHI,38.3,8.8,16.9,0.247,0.484,17366.161
Bob McAdoo,1095.0,0.512,2138.0,NaN,NaN,NaN,NaN,179,8.6,23.0,...,1155.0,16.6,0.569,BUF,NaN,6.0,17.8,0.242,0.512,17552.824
Spencer Haywood,986.0,0.496,1987.0,0.0,0.000,11.0,0.006,190,7.6,20.0,...,1637.0,18.8,0.546,DNR,24.9,NaN,17.1,0.216,0.493,17715.779

In [16]:
index.loc['Klay Thompson']

2P            375
2P%          0.51
2PA           736
3P            276
3P%         0.425
3PA           650
3PAr        0.469
AST           166
AST%          9.8
Age            25
BLK            49
BLK%          1.4
BPM           0.7
DBPM         -2.2
DRB           271
DRB%         10.3
DWS           2.6
FG            651
FG%          0.47
FGA          1386
FT            193
FT%         0.873
FTA           221
FTr         0.159
GS             80
G              80
Lg            NBA
MP           2666
OBPM          2.9
ORB            35
ORB%          1.5
OWS           5.5
PER          18.6
PF            152
PTS          1771
Pos            SG
STL            60
STL%          1.1
Season    2015-16
TOV           138
TOV%          8.5
TRB           306
TRB%          6.2
TS%         0.597
Tm            GSW
USG%         26.3
VORP          1.8
WS              8
WS/48       0.144
eFG%        0.569
GT        10394.2
Name: Klay Thompson, dtype: object

In [17]:
engine = create_engine("sqlite:///Data-Dunks.sqlite")

master_df.to_sql(name='master', con=engine, if_exists='replace', index=False)

In [18]:
engine = create_engine("sqlite:///Data-Dunks.sqlite")

career_best_df.to_sql(name='career_best', con=engine, if_exists='replace', index=False)